.slide {
  padding: 75px 0px;
  text-align: center;
}

.slide_container {
  overflow: hidden;
}
.slide_lista {
  display: flex;
}

.slide_lista li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.custom-controls li img {
  height: 100%;
}
.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}
.prev {
  color: #355089;
  background: transparent;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.096);
  border: none;
  font-size: 8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: absolute;
  top: 40%;
  left: 5%;
  @include device(s) {
    font-size: 3em;
    top: 60%;
    left: 0%;
    display: none;
  }
}
.titul {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1.4em;
  @include device(s) {
    font-size: 30px;
  }
}
.prev:hover,
.next:hover {
  background: rgba(204, 204, 204, 0.11);
  transition: 0.4s ease-in;
}
.next {
  color: tomato;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.096);
  background: transparent;
  border: none;
  font-size: 8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: absolute;
  top: 40%;
  right: 5%;
  @include device(s) {
    font-size: 3em;
    top: 60%;
    right: 0%;
    display: none;
  }
}
